@font-face{
    src: url(fonts/CrimsonText-Regular.ttf);
    font-family: CrimsonText;
}
body{
    background-color: black;
}

h1{
    color: white;
}

p{
    color: white;
    font-family: CrimsonText;
}

.odd{
    color: red;
}

.even{
    color: blue;
}